*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,body{
 height: 100%;
 width: 100%;
 background-color: black;
}
img{
 height: 100%;
 width: 100%;
}

:root{
--x:400px;
--y:400px;
}
.box{
 height: 100%;
 width:100%;
 background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0),black);
 position: absolute;
 top: 1px;

}