@use "./button.scss";

*{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;
}

a{
 color: rgb(219, 19, 19);
 text-decoration: none;
}

 body {
  margin: 0;
  background: #0b0f17;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}
