* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'helvetica neue';
}

html,
body {
 height: 100%;
 width: 100%;
}

main{
 height: 100%;
 width: 100%;
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;

}
.card p{
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
}
.card{
 width: 500px;
 background-color: white;
 border-radius: 10px;
padding: 30px;
}
/* .card p{
 text-align: center;
 margin-bottom: 40px;
 font-size: 20px;
 font-weight: 500;
}
.card p span{
 font-weight: 600;
 color: royalblue;
}
.card {
 width: 450px;
 background-color: white;
 border-radius: 10px;
 padding: 30px ;
} */

/* .outer{
 height: 20px;
 width: 100%;
 background-color: lightgray;
 background-color: rgb(184, 184, 184);
}
.inner{
 height: 100%;
 width: 0%;
 background-color: seagreen;
 border-radius: 50px;
} */
.outer {
 height: 20px;
 border-radius: 50px;
 width: 100%;
 background-color: rgb(184, 184, 184);
}


.inner {
 height: 100%;
 width: 0%;
 border-radius: 50px;
 background-color: green;
}