/* * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body, html {
 height: 100%;
 width: 100%;
}
main{
 height: 100%;
 width: 100%;
 background-color: darkslategrey;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;

}

.white{
 height: 150px;
 width: 50px;
 color: white;

 border-radius: 10px;
 cursor: pointer;
 transform: translate(-50%);
}
main.black{
 height: 100px;
 width: 40px;
 background-color: black;
 border-radius: 10px;
 cursor: pointer;
 transform: translate(-50%);
 display: flex;
 justify-content: center;
 align-items: center;
 top: 0;
 z-index: 4;
 
} */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body, html {
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
}

main{
 height: 100%;
 width: 100%;
 background-color: darkslategrey;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
/* .piano-keyboard {
 display: flex;
 justify-content: center;
 margin-top: 50px;
 position: relative;
 background-color: #f5f5f5;
 padding: 10px;
 border-radius: 5px;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
} */

.octave {
 display: flex;
 position: relative;
}

.key {
 width: 60px;
 height: 250px;
 border: 2px solid green;
 box-sizing: border-box;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 padding-bottom: 10px;
 position: relative;
 transition: background-color 0.1s;
}
.key.active {
 transform: scaleY(0.95);   /* shrink vertically */
 background-color: yellow;    /* optional visual feedback for white keys */
}

.black.active {
 background-color: green;    /* optional visual feedback for black keys */
}

.white {
 background-color: #fff;
 border-color: #aaa;
 z-index: 0;
}

.black {
 background-color: #000;
 width: 40px;
 height: 150px;
 margin-left: -20px;
 margin-right: -20px;
 z-index: 7777777;
 border-color: #333;
 color: #fff;
 padding-bottom: 5px;
}

.key span {
 font-size: 12px;
 text-align: center;
 pointer-events: none; /* Allows click to pass through span to the key div */
}

/* Positioning black keys correctly relative to white keys */
.black:nth-child(2) { margin-left: -20px; }
.black:nth-child(4) { margin-left: -20px; }
.black:nth-child(7) { margin-left: -20px; }
.black:nth-child(9) { margin-left: -20px; }
.black:nth-child(11) { margin-left: -20px; }
