*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f7f7f7;
    color: #000;
    line-height: 1.6;
}
header{
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 30px 0;
}
header h1{
    font-size: 28px;
    font-weight: 700px;
    letter-spacing: 1px;
}
header p{
    font-style: italic;
    margin-top: 5px;
    color: #d1d5db;
}
section{
    text-align: center;
    padding: 30px 20px;
    margin: 20px;
    border-radius: 10px;
}
#about{
    background-color: #fff;
}
#education{
    background-color: #b3e5fc;
}
#skills{
    background-color: #ffff99;
}
#project{
    background-color: #f8bbd0;
}
#contact{
    background-color: #c8facc;
}

section h2{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.box{
    background-color: white;
    width: 60%;
    margin:  8px auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
  .box {
    width: 90%;
  }
}