.button{
 border: none;
 outline: none;
 padding-inline: 1rem;
 padding-block: 0.5rem;
 border-radius: 1rem;
 cursor: pointer;
 transition: all 0.3s ease-in-out;

 &.primary-button{
  background-color: rgb(204, 39, 39);
  color:rgb(235, 232, 232) ;
 }
 &:active{
  transform:scale(0.9) ;
 }
}