* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body, html {
 height: 100%;
 width: 100%;
}

main{
 height: 100%;
 width: 100%;
 background: linear-gradient(to right bottom,rgb(34,56,78),rgb(54,43,32));
 padding-top: 10px;
 overflow: auto;

 
}
section{
 height: 100%;
 width: 350px;
 background-color: black;
 margin: auto;
 border-radius: 10px;
 
 
 
}
.allReels{
 height: 100%;
 width: 100%;
 background-color: aliceblue;
 border-radius: 10px;
 overflow: auto;
scroll-snap-type: y mandatory;
scroll-behavior: smooth;


}
.allReels::-webkit-scrollbar{
 display: none;
}
.reel{
 height: 100%;
 width: 100%;
 border-radius: 10px;
 position: relative;
 overflow: hidden;
 margin-bottom: 10px;
 scroll-snap-align: start;
 scroll-snap-stop: always;
}
.reel video{
 height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 10px;

}
.reel .bottom{
 padding: 30px 20px;
 width: 100%;
background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.099));
position: absolute;
color: aliceblue;
border-radius: 10px;
bottom: 0;

}
.bottom .user{
 display: flex;
 align-items: center;
 color: aliceblue;
 gap: 10px;
 margin-bottom: 10px;
}
.bottom .user img{
 width: 25px;
 height: 25px;
 border-radius: 50%;
 object-fit: cover;
}
.bottom h3{
 font-weight: 400;
 font-size: 20px;
}
.bottom button{
 padding: 2px 4px;
 background: transparent;
 color: aliceblue;
 font-size: 10px;
 border-radius: 2px;
 border: 1px solid black;
}
.right{
 padding: 20px 10px;
 display: flex;
 flex-direction: column;
 gap:15px;
 text-align:center ;
 width: 40px;
 position: absolute;
 right: 0;
 bottom: 12%;
 color: white;
 /* transform: translateX(-1%); */
}
.right i{
 font-size:25px;
 font-weight: 500;
 
}
.right h6{
 font-size: 10px;
 font-weight: 800;
}
.right>div{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.love{
color: red;
}