* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body, html {
 height: 100%;
 width: 100%;
}
button {
 background-color: #4CAF50; /* green background */
 color: white; /* white text */
 padding: 10px 20px;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 font-size: 16px;
}

/* Hover effect */
button:hover {
 background-color: #45a049;
}