*{
 margin: 0;
 padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 z-index: 9;

}
button{
 padding: 15px 30px;
 font-weight: 600;
 font-size: 20px;
 background-color: crimson;
 border: none;
 cursor: pointer;
 border-radius: 2px;
 position: relative;
 z-index: 9;
 border: 2px solid white;
 border-radius: 10px;
}

button:active{
  scale: 0.95;
}
h1{
  white-space: nowrap;
}