@mixin flex-colomn($gap:0rem){
 display: flex;
  flex-direction: column;
  gap: 1rem;
}


main{
 min-height:100vh;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 .form-container{
   @include flex-colomn(1rem);
  
  min-width: 350px;
 }
 form{
  @include flex-colomn(1rem);
 }
}
